
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Karla&family=Lato:ital,wght@0,700;1,100&family=Lobster&family=PT+Sans+Caption&family=Pangolin&family=Raleway:wght@100&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,300;1,100&family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   
   font-family: 'Josefin Sans', sans-serif;
 
}
.navbar{
  background: url('c1.jpg');
  top: 0;
  position:sticky;
  z-index: 3;

}
.nav-link{
  /* color: var(--bs-main-color)!important; */
color: orange;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.nav-link:hover{
  color: orange !important;
  transition: 0.2s ease-in;
}

.navbar-toggler{
  color: white; 
}
.bg-color{
  background-color: black;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(180, 157, 157, 0.2), 0 6px 20px 0 rgba(228, 255, 251, 0.19);
}
.img-container{
  background-color: rgb(37, 35, 31);
  color: orange;
  height: 100px;
  width: 100px;
  transition: 0.2s ease-in-out;
}
.img-container:hover{
  background-color: rgb(153, 102, 7)!important;
  color: wheat;
  transition: 0.3s ease-in-out;
}
.bg-color2{
  background-color: #181616;
}

.card-title h1{
  font-size: 40px;
}
.card3{
  background-color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}
.card3:hover{
  background-color: rgb(255, 255, 255);
}
.card3 h6{
  color: white;
}
.card3:hover h6{
  color: black;
}
.card2:hover{
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
  
}
.btn-contact{
  margin-top: 10px;
  background-color: orange;
  padding-top:  10px;
  padding-bottom:  10px;
  border: none;
  border-radius: 5px;
  color: rgb(12, 9, 9);
}
.btn-contact:hover{
  background-color: red;
  transition: 0.2s ease-in-out;
  color: white;
}
/* media queries*/
@media screen and (max-width:500px) {
  /* html,body{
      font-size: 50%;
  } */
  .navbar{
    font-size: 90%;
  }
 .container{
  padding: 0px 20px;
  font-size: 70%;
 }
 .container-fluid h5{
  font-size: 70%;
 }
 .form-section{
  width: 80%;
}
footer {
  font-size: 20%;
}
}